<section class="w-full h-[95vh] grid grid-cols-2 border-b border-black p-0 m-0">
  <!-- Left content -->
  <div class="relative border-r border-black overflow-hidden h-full">
    <!-- Left Image -->
    <img
      src="{{ section.settings.imageLeft | img_url: '600x400' }}"
      alt="Description of Image"
      class="w-full h-full object-cover"
      loading="lazy">
    <a
      href="{{ section.settings.button_linkLeft }}"
      style="color:{{ settings.button_labelLeft_color }}"
      class="absolute top-0 left-0 uppercase font-bold">
      {{ section.settings.button_labelLeft }}</a>
  </div>

  <!-- Right content -->
  <div class="relative box-border overflow-hidden h-full">
    <!-- Right Image -->
    <img
      src="{{ section.settings.imageRight | img_url: '600x400' }}"
      alt="Description of Image"
      class="w-full h-full object-cover"
      loading="lazy">
    <a
      href="{{ section.settings.button_linkRight }}"
      style="color:{{ section.settings.button_labelRight_color }}"
      class="absolute top-0 left-0 uppercase font-bold">
      {{ section.settings.button_labelRight }}</a>
  </div>
</section>


{% schema %}
  {
    "name": "Two Image Hero",
    "settings": [
      {
        "type": "image_picker",
        "id": "imageLeft",
        "label": "Left Image"
      },
      {
        "type": "text",
        "id": "button_labelLeft",
        "label": "Left Button label"
      },
      {
        "type": "color",
        "id": "button_labelLeft_color",
        "label": "Left Button Label Color",
        "default": "#FFFFFF"
      },
      {
        "type": "url",
        "id": "button_linkLeft",
        "label": "Left Button link"
      }, {
        "type": "image_picker",
        "id": "imageRight",
        "label": "Right Image"
      }, {
        "type": "text",
        "id": "button_labelRight",
        "label": "Right Button label"
      }, {
        "type": "color",
        "id": "button_labelRight_color",
        "label": "Right Button Label Color",
        "default": "#FFFFFF"
      }, {
        "type": "url",
        "id": "button_linkRight",
        "label": "Right Button link"
      }
    ],
    "presets": [
      {
        "name": "Two Image Hero",
        "category": "Image"
      }
    ]
  }
{% endschema %}