<section class="w-full h-[95vh] grid grid-cols-2 border-b border-black p-0 m-0">
  <!-- Left content -->
  <div class="border-r border-black box-border overflow-hidden">
    <!-- Left Image -->
    <img
      src="{{ settings.imageLeft | asset_url }}"
      alt="Description of Image"
      width="600"
      height="400"
      loading="eager">
    <a
      href="{{ settings.button_linkLeft }}"
      style="color:{{ settings.button_labelLeft_color }}">
      {{ settings.button_labelLeft }}</a>
  </div>

  <!-- Right content -->
  <div class="box-border overflow-hidden">
    <!-- Right Image -->
    <img
    src="{{ settings.imageRight | asset_url }}"
      alt="Description of Image"
      width="600"
      height="400"
      loading="lazy">
    <!-- Placeholder for Right Button (You can add button styling based on provided settings) -->
    <a
      href="{{ settings.button_linkRight }}"
      style="color:{{ settings.button_labelRight_color }}">{{ settings.button_labelRight }}</a>
  </div>
</section>

{% schema %}
  {
    "name": "Two Image Hero",
    "settings": [
      {
        "type": "image_picker",
        "id": "imageLeft",
        "label": "Left Image"
      },
      {
        "type": "text",
        "id": "button_labelLeft",
        "label": "Left Button label"
      },
      {
        "type": "color",
        "id": "button_labelLeft_color",
        "label": "Left Button Label Color",
        "default": "#FFFFFF"
      },
      {
        "type": "url",
        "id": "button_linkLeft",
        "label": "Left Button link"
      }, {
        "type": "image_picker",
        "id": "imageRight",
        "label": "Right Image"
      }, {
        "type": "text",
        "id": "button_labelRight",
        "label": "Right Button label"
      }, {
        "type": "color",
        "id": "button_labelRight_color",
        "label": "Right Button Label Color",
        "default": "#FFFFFF"
      }, {
        "type": "url",
        "id": "button_linkRight",
        "label": "Right Button link"
      }
    ],
    "presets": [
      {
        "name": "Two Image Hero",
        "category": "Image"
      }
    ]
  }
{% endschema %}